<div class="center" style="    margin-top: -13%;">
    <div class="fider">
        <h1>Find GitHub User</h1>
    </div>
    <div class="search">
        <div class="pseudo-search search-container">

            <input (input)="onSearch($event)" type="text" id="userInput" placeholder="GitHub User">
            <i class='fa fa-github' style="    margin: 4px;"></i>
            <i class='fa fa-search'></i>
        </div>
    </div>
    <div id="userContainer"></div>

</div>

<div class="container-data" style="margin-top: 18%; display: flex;
    justify-content: center;">
    <div *ngIf="us == true && user ">
        <app-card [user]="user"></app-card>
    </div>

    <div *ngIf="error && us == false" style="display: flex; justify-content: center;">
        <app-not-found></app-not-found>
    </div>
</div>